# Proyecto del Día - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

1. **Lectura de Datos**: Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv**. El archivo incluirá información como *fecha de venta*, *categoría de producto*, *cantidad vendida* y *precio*.
2. **Fusión de Datos**: Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv**, y concaténalos para tener un solo dataFrame con toda la información.

3. **Tratamiento de Datos**: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.
4. **Análisis de Ventas**: Realiza análisis para responder preguntas como:
- ¿Cuál es el producto más vendido?
- ¿Cuál es el mes con más ventas?
5. **Datos Agrupados**: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
6. **Guardar Resultados**: Al final, guarda el DataFrame completo en un archivo .csv en tu ordenador.

In [1]:
import pandas as pd

In [2]:
# 1. Lectura de Datos: Crea un DataFrame que contenga los datos provistos en el archivo Datos_Ventas_Tienda.csv provisto en esta lección. El archivo incluirá información como fecha de venta, categoría de producto, cantidad vendida y precio.
df_ventas = pd.read_csv('Datos_Ventas_Tienda.csv')
df_ventas

         Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    1/17/2023  Electrónic         7              200         1400
1     9/1/2023  Electrónic         8              200         1600
2    7/29/2023    Juguetes         3               30           90
3    10/4/2023   Alimentos         4               10           40
4    2/28/2023  Electrónic         6              200         1200
..         ...         ...       ...              ...          ...
995  4/27/2023   Alimentos         2               10           20
996   6/9/2023        Ropa        10               50          500
997  8/21/2023   Alimentos         8               10           80
998  3/28/2023  Electrónic         6              200         1200
999   3/7/2023  Electrónic         4              200          800

[1000 rows x 5 columns]

In [3]:
# 2 - Fusión de Datos: Crea un segundo DataFrame que contenga los datos del archivo Datos_Ventas_Tienda2.csv, y concaténalos para tener un solo dataFrame con toda la información.
df_ventas2 = pd.read_csv('Datos_Ventas_Tienda2.csv')

df = pd.concat([df_ventas, df_ventas2], ignore_index=True)

df.head()

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200

In [4]:
df.tail()

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
1045  9/11/2023    Juguetes        10               30          300
1046   1/3/2023    Juguetes        10               30          300
1047  11/7/2023   Alimentos         3               10           30
1048  8/20/2023  Electrónic         6              200         1200
1049  7/21/2023    Juguetes         3               30           90

In [5]:
# 3 - Tratamiento de Datos: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   object
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: int64(3), object(2)
memory usage: 41.1+ KB

In [7]:
# Comprobar si hay valores nulos
print(df.isnull().sum())

Fecha              0
Producto           0
Cantidad           0
Precio Unitario    0
Total Venta        0
dtype: int64

In [8]:
# Cambiar el tipo de dato de la columna 'Fecha' a datetime
df['Fecha'] = pd.to_datetime(df['Fecha'])
df['Fecha']

0      2023-01-17
1      2023-09-01
2      2023-07-29
3      2023-10-04
4      2023-02-28
          ...
1045   2023-09-11
1046   2023-01-03
1047   2023-11-07
1048   2023-08-20
1049   2023-07-21
Name: Fecha, Length: 1050, dtype: datetime64[ns]

In [9]:
# 4 - Análisis de Ventas: Realiza análisis para responder preguntas como: ¿Cuál es el producto más vendido? ¿Cuál es el mes con más ventas?

producto_mas_vendido = df['Producto'].value_counts().sort_values(ascending=False).index[0]
producto_mas_vendido

'Electrónic'

In [10]:
# el mes con más ventas y cuántas ventas se realizaron en ese mes
ventas_por_mes = df['Fecha'].dt.month.value_counts().sort_values(ascending=False)
ventas_por_mes.head(1)

Fecha
8    113
Name: count, dtype: int64

In [11]:
# 5 - Datos Agrupados: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
ventas_por_categoria = df.groupby('Producto')['Total Venta'].sum().sort_values(ascending=False)
ventas_por_categoria

Producto
Electrónic    244000
Ropa           56400
Juguetes       33390
Libros         20840
Alimentos      12620
Name: Total Venta, dtype: int64

In [12]:
# 6 - Guardar Resultados: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.
df.to_csv('Resumen_ventas.csv')